<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="jumbotron masthead">
    <div class="container">
      <h1>Oligarchs Anonymous</h1>
      <p>Where Soviet business magnates can chill out without Putin watching</p>
    </div>
  </div>
</div>